@import '../common/_variable.scss';

body[page-name="LiveCamPage"] {
    .live-cam-4k-page{
        padding-top: $spacer * 2;
        header {
            display: none;
        }
        .alert-geo-box{
            display: none;
        }

        .live-cam-page{
            position: relative;
            padding-top: $spacer * 3;
            > .navbar{
                height: $spacer * 3.5;
                transition: height 0.3s;
                >.container{
                    .navbar-nav {
                        flex-direction: row;
                        .nav-item{
                            font-size: $spacer * 2;
                            cursor: pointer;
                            color: $gray-100;
                            transition: font-size 0.3s;
                            a {
                                color: $gray-100;
                            }
                            &:active{
                                color: $gray-600;
                                transform: scale(0.9);
                            }
                        }
                        &:first-child{
                            .nav-item{
                                padding-right: $spacer * 2.5;
                            }
                        }
                        &:last-child{
                            .nav-item{
                                padding-left: $spacer * 2.5;
                            }
                        }
                    }
                }
                &.scroll{
                    height: $spacer * 2;
                    >.container{
                        .navbar-nav {
                            .nav-item{
                                font-size: $spacer * 1.25;
                            }
                        }
                    }
                }
            }
            .live-cam-page-back{
                cursor: pointer;
            }
        }
    }
}