@import '../../common/_variable.scss';


.live-cam-card{
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    margin-bottom: $spacer * 2;
    border-radius: $spacer / 2;
    box-shadow: 0px 0px $spacer / 3 $gray-200;
    color: $gray-900;
    user-select: none;
    .live-cam-thumb{
        @include aspect-ratio(percentage(9/16));
        position: relative;
        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $spacer * 3;
            color: $white;
            text-shadow: 0 0 5px $gray-600;
            cursor: pointer;
            &:active{
                font-size: $spacer * 3.2;
                transition: all 0.2s;
            }
        }
    }

    .live-cam-statistics{
        position: absolute;
        top: 0px;
        right: 0px;
        padding: $spacer /4 $spacer /2;
        background: rgba($gray-900, 0.6);
        color: $white;
        font-size: 11px;
        border-radius: $spacer / 8;
        transition: all 0.3s;
        .statistic-item{
            &:not(:first-child) {
                padding-left: $spacer /8;
            }
        }
        @media (hover: hover) {
            &:hover{
                background: rgba($gray-900, 0.8);
            }
        }
    }

    .live-cam-title{
        position: absolute;
        bottom: 0px;
        padding: $spacer /4;
        min-height: $spacer * 2;
        width: 100%;
        background: rgba($gray-900, 0.6);
        color: $white;
        text-align: right;
        font-size: $spacer * 1;
        @media (hover: hover) {
            &:hover{
                background: rgba($gray-900, 0.8);
            }
        }
    }

    &.live{
        // box-shadow: 0px 0px $spacer / 3 $red-300;
        border: 1px solid $red-800;
    }
}